body{
    background-color: #fee440;

}
.product {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.product-item {
    width: 25%;
    border: 0.5px solid coral;
    position: relative;
    height: 300px;
    
}
.product-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-data{
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.product-item:hover .product-data{
    opacity: 1;
}
.product-name, .product-prise{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    padding-left: 100px;
    transition: 0.6s;
}
.product-item:hover .product-name,
.product-item:hover .product-prise{
    padding-left: 10px;
}
.product-control {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.minus, .count, .plus{
    width: 33%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
}